@using System.Web.UI.WebControls
@model SmartPortal.Web.ViewModels.NurseViewModel

<div style="margin: 15px;">
    @using (Ajax.BeginForm("CreateClinician", "Clinicians", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.InsertBefore,
                        HttpMethod = "POST",
                        UpdateTargetId = "list-of-nurses",
                        OnSuccess = "$('.bs-example-modal-sm').modal('hide')",
                        OnFailure = "handleError"
                        
                    }, new { role = "form" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Name</label>
            <input id="input-nurse-name" type="text" class="form-control" placeholder="Enter a name" name="Name" value="@Model.Name"/>
        </div>
        <div class="form-group">
             <label>Pin</label>
            <input id="input-nurse-pin" type="text" class="form-control" placeholder="Enter a pin" name="Pin"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input id="create-nurse-submit" type="submit" class="btn btn-primary" value="Create" />        

        </div>
        
    }
</div>

