
@{
    ViewBag.Title = "TEst";
}

<h2>Test</h2>

<table class="table table-striped table-bordered table-condensed">
    <tr> 
        <th>id</th>
        <th> Name</th>
        <th>CPR</th>
    </tr>
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Cpr"></td>
        </tr>
    </tbody>
</table>




<button id="test-add"> ADD</button>



<div class="row" data-bind="foreach: items">
    <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" data-bind="text: Name">
                </div>
                <div class="panel-body">
                    <!-- General info -->
                    <p>Room: <span data-bind="text: Location"></span></p>
                    <!-- Record data -->
                    <div class="well-heading with-color" data-bind="css:{'background-color' : Color}"><b>&nbsp;Record:</b></div>
                    <div class="well well-sm well-moveup with-color" data-bind="css: { 'background-color': Color }">
                        <p><i>Loc: </i><span class="patient-data" data-bind="text: RecordLocation"></span></p>
                        <p><i>Proc: </i><span class="patient-data" data-bind="text: Procedure"></span></p>
                        <p><i>Msg: </i><span class="patient-data" data-bind="text: LastMessage"></span></p>
                    </div>
                    <!-- Controls -->
                    <a class="btn btn-success button-color button-patient" href="#" title="Change patient\'s Color" data-bind="attr:{'data-patient-id': Id}">Color</a>
                    <a class="btn btn-info button-buzzer button-patient" href="#" title="Buzz the buzzer" data-bind="attr: { 'data-patient-id': Id }">Buzz</a>
                    <a class="btn btn-primary button-open button-patient" title="Open the record" data-bind="attr: { 'data-patient-id': Id }">Open</a>

                </div>

            </div>
        </div>
</div>


















@section scripts
{
    <script src="~/Scripts/Patient.js"></script>
    
    <script>
        $(function() {

            var items = vm.items;


            

            $("#test-add").click(function () {
                console.log("click");

                $.getJSON("/api/patient/getpatients", null, function (data) {
                    //console.log(data);

                    $.each(data, function(index, value) {
                        items.push(new ItemViewModel(value.id, value.name, value.cpr, value.location, value.recordLoacation, value.procedure, value.color, value.lastMessage));
                    });
                });

                /*
                var itemToAdd = new ItemViewModel("id", "name", "cpr", "location", "recordLocation", "procedure", "color", "lastMessage");
                var foundItem;

                var match = ko.utils.arrayFirst(vm.items(), function (item) {
                    //console.log(item);
                    var found = itemToAdd.Id() === item.Id();
                    console.log("found = " + found);
                    if (found)
                        foundItem = item;
                    return found;
                });

                if (!match) {
                    console.log("not match. adding");
                    items.push(itemToAdd);
                } else {
                    console.log("match");
                    foundItem.Name("john" + Date.now());
                    
                }
                */

                return true;
            });
        });
        
    </script>
}

