@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>


<div style="height: 50px;"></div>
<div class="container">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        <h2 class="form-signin-heading">Log in</h2>
        <input type="password" name="pin" class="form-control" placeholder="Pin code" required autofocus>
        <input id="tabletId" type="text" name="tabletId" class="form-control" placeholder="Tablet Identifier" required >
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5px;">Sign in</button>
    }


</div>
<!-- /container -->


@section scripts
{
    <script>
        $(function () {
            var rfid = Android.getRfidTag();

            $("#tabletId").val(rfid);
        });
    </script>
}
