@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .col-content {
        padding: 10px;
    }
</style>
<div style="height: 50px"></div>
<h1>Patients</h1>


<div class="row">
    @for (var i = 0; i < 15; i++)
    {
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">John Petersen @i</div>
                <div class="panel-body">
                    <p>CPR: 010887-@(6666 + i)</p>
                    <p>Room: A.123</p>
                    <p>Proc: Blood transfusion</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">Record</div>
                        <div class="panel-body">
                            <p>Location: Room @(259 + i)</p>
                            <p>Color: <span style="background-color: greenyellow; color: greenyellow">....</span></p>
                        </div>
                    </div>

                    <a class="btn btn-success" href="#" title="Checkin">CheckIn</a>.
                </div>
            </div>



        </div>
    }
</div>


<div class="row">
    <form>
        <input type="text" id="color" name="color" value="#123456" />
    </form>

    <div id="colorpicker"></div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#colorpicker').farbtastic('#color');

        });

    </script>
}
